.container{
    width: 900px;
    border: 1px solid blue;
    margin: 0 auto;
}

.header{
    height: 100px;
    border: 3px solid pink;
    margin-bottom: 15px;
}

.column{
    float: left;
    width: 30%;
    height: 600px;
    box-sizing: border-box;
    padding: 0 15px;
}

.clear-fix{
    clear: both;
}

.sidebar-left, .sidebar-right{
    width: 15%;
}

.content{
    width: 70%;
    border: 3px solid red;
}


.footer{
    height: 30px;
    border: 3px solid green;
    margin-top: 15px;
}

.inner{
    height: 99%;
}
.sidebar-left .inner{
    border: 3px solid blue;
}

.sidebar-right .inner{
    border: 3px solid yellow;
}
