p.one {
    border-style: solid;
    border-color: dodgerblue
}

p.two {
    border-style: solid;
    border-color: red
}

.margin1{
    margin: 70px;
    border: 1px solid rgb(118, 219, 118);
}

.padding1{
    padding: 70px;
    border: solid red;
}

.padding2{
    padding: 30px 0;
    border: 1px solid red;
}

p.three{
    border: 2px solid rgb(118, 219, 118);
}

h1.one{
    text-align: center;
}

div.p1{
    margin-left: 1000px;
}

div.p2{
    margin-left: 850px;
}

div.h2{
    color: green;
    text-align: center;
}

div.border1{
    text-align: center;
    background-color: hotpink;
    color: red;
}

div.border2{
    text-align: center;
    background-color: rgb(255, 227, 100);
}

